body {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: courier sans-serif;
}

.line {
  display: table-row;
}

.boxes {
  display: table-cell;
}

.boxes .box {
  position: relative;
  display: inline-block;
  border: solid 1px #555;
  width: 12px;
  height: 12px;
  margin: 1px 0;
}

.line span {
  display: table-cell;
  padding-left: 4px;
}
